body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}
.button {
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    font-style: inherit;
}